* {
  font-family: sans-serif;
  padding: 9px;
  color: gray;
}

.input-container{
  width: 100%;
}
.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 35px !important;
}
.icon{
  color: #3590cb;
}
.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 15px 25px;
  pointer-events: none;
}
.form-control{
  width: 100%;
}
input {
  width: 100%;
  padding: 1em !important;
  margin: 0em !important;
  box-sizing: border-box;
}
h2 {
  color: green;
}

body{
  padding-top:500px;
  padding-left:0px;
  padding: 0;
  border: 0;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
}